@model HomeViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Text</h2>
<h3>WebView2 + OWIN + AspNet Core + Razor</h3>
<ul>
    <li>No network requests are made, just in memory requests to the OWIN pipeline</li>
    <li>WebView2.AspNetCore.Bridge has no reference to OWIN, just the known Func type that it uses</li>
    <li>This request was rendered using AspNet Core Mvc and the Razor view engine</li>
</ul>
<div>Request Method (GET/POST): @Model.Method</div>

<form method="POST">
    Input1: <input type="text" name="Input1" value="WebView2" />
    <br />
    Input2: <input type="text" name="Input2" value="Owin" />
    <br />
    <input type="submit" value="Submit" />
</form>